* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}
/* body {
    display: flex;
    flex-direction: column;
} */
.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding-left: 120px;
    font-family: 'Roboto';
    padding-top: 8px;
}

.logo {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
    margin-left: 120px;
}
ul {
    display: flex;
    list-style-type: none;
    gap : 32px;
    margin-left: auto;
    padding-right: 120px;
    font-size: 18px;

}

.hero a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    width : 600px;
    margin-left: 18px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
 }

.hero-content {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 48px;
    flex-wrap: wrap;

}
.subtext {
    padding-left: 60px;
    width : 400px;

}
.button {
    padding : 8px 60px;

}
button {
    border: 0px;
    padding: 10px;
    color: #f9faf8;
    font-size: 18px;
    width: 150px;
    font-weight: 400;
    background-color: #3882f6;
    border-radius: 8px;
}
.heading-text {
    width: 350px;
    padding-left: 60px;
    font-size: 48px;
    font-weight: 900;
}


.features {
    display: flex;
    gap : 32px; 
    justify-content: center;
}
.info {
    margin-bottom: 100px;
}

.info-box {
    background-color: #f5f5f5;
    border: 6px;
    border-radius: 10px;
    border-color: #264372;
    border-style: solid ;
    height: 180px;
    width: 140px;
    display: flex;
    flex-direction: column;
    gap : 180px;
    padding: 10px;
}
.info-text-head {
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.info-text {
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    text-align: center;
    color: #797777;

}

.quote-section {
    display: flex;
    width: auto;
    background-color: #e5e7eb;
    align-items: center;
    padding: 120px;
    flex-direction: column;
}
.quote {
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    width: 800px;
}
.quote-by {
    margin-left: 600px;
    font-size: 18px;
    color: #1f2937;
    font-weight: 600;
}

.action {
    display: flex;
    background-color: #3882f6;
    border-radius: 4px;
    margin: 180px;
    padding: 40px;
    justify-content: center;
}
.blue-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.button-action {
    border: 3px solid #e5e7eb ;
    border-radius: 8px;
    margin-left: 240px;
    padding: 0px;
}

.bold-text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 800;
}

.action-text {
    font : 12px;
    color: #e5e7eb;
    font-weight: 400;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f5f5f5;
    padding: 40px;
}

/* RECCEMONDATION PAGE */
.hero-text-rec-page {
    margin-left: auto;
    margin-right: auto;
 }

 .heading-text-rec-page {
    width: 600px;
    font-size: 30px;
    font-weight: 900;
}

.subtext-rec-page {
    width : 400px;

}

.main-body {
    align-items: center;
    margin-right: 20%;
    gap : 25px;
}
.top-body {
    display: flex;
    flex-direction: row;
}

.upload-label  {
    display: flex;
    justify-content: center;
    justify-items: auto;
    padding: 2px;
    font-size: 21px;
    border-radius: 0.3rem;
    font-weight: 400;
    color: #d2d7dd;
    background-color: #1f2937;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 72%;
    margin-left: 120px;
}

.upload-label:hover {
    border: 1px solid rgb(45, 44, 44);
}

.image-preview {
    margin-top: 20px;
    margin: 40px;
    padding: 10px;
    border: 10px solid rgb(143, 140, 140);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    height: 300px;
    width: 350px;
}

.output-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
}

.output-text {
    padding: 50px;
    margin-left: 50%;
    font-size: 24px;
    color: #4f49c0;
    font-weight: bold;
}

.rec-images {
    margin-top: 20px;
    margin: 40px;
    padding: 10px;
    border: 10px solid rgb(143, 140, 140);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    height: 300px;
    width: 350px;
}