body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4D6A5; /* Light beige background */
}

nav {
    background-color: #4E301F; /* Dark brown */
    color: #F4D6A5; /* Light beige for text */
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #31291c; /* Light beige for links */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #1b130a; /* Medium brown on hover */
}

h1 {
    text-align: center;
    color: #4E301F; /* Dark brown for headings */
}

h2 {
    text-align: center;
    color: #4E301F; /* Dark brown for subheadings */
}

ul {
    list-style-type: none;
    padding: 20px;
}

ul li {
    background: #F4D6A5; /* Light beige for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

ul li:hover {
    transform: translateY(-5px);
    background-color: #AD8153; /* Change background on hover */
    color: #F4D6A5; /* Change text color on hover */
}
