<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classify.css') }}">
    <title>Outfit Generator</title>
</head>
<body>
    <div class="hero">
        <section id="header">
            <a href="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo"></a>
            <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> -->
            {% if firstname %}
                <span></span>
            {% else %}
                <button class="login-button">Login/Sign Up  L</button>
            {% endif %}
    
            <div>
                <ul id="navbar">
                    <li><a class="active" href="/frontpage">Home</a></li>
                    <li><a href="{{ url_for('recommendation') }}">Recommendation</a></li>
                    <li><a href="{{ url_for('classify') }}">Outfit Generator</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    {% if firstname %}
                    <li>Welcome, {{ firstname }}</li>
                    {% endif %}
                </ul>
            </div>
        </section>
        </div>
        <div class="hero-content">
            <div class="upload">
                <form id="upload-form" enctype="multipart/form-data" onsubmit="classify(event)">
                    <input type="file" id="image-upload" onchange="upload2()" name="image" hidden/>
                    <label for="image-upload" class="upload-label">Upload Image</label>
                    <div>
                        <button type="submit" id="predict-button" style="display: none;">Predict</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="part-1">

            <div class="image-preview">
                {% if uploaded_image %}
                    <img src = "{{ url_for('static', filename=uploaded_image) }}" style="width: 200px; height: auto; margin: 10px;">
                {% endif %}
            </div>
            <div class="classify">
                Category: 
            </div>
        </div>

        <div class="outfit">
            <form id="outfit-gen" action="{{ url_for('generate_outfit') }}" method="POST">
                <button type="submit">Generate Outfit</button>
            </form>
            <div id="outfit-section">
                {% if outfit_images %}
                    {% for item, path in outfit_images.items() %}
                        {% if path != "No items found in this category." %}
                            <img src="{{ url_for('static', filename=path) }}" alt="{{ item }}" style="width: 200px; height: auto; margin: 10px;">
                        {% else %}
                            <p></p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No outfit generated yet. Click "Generate Outfit" to create one.</p>
                {% endif %}
                <!-- <img src="{{ url_for('static', filename='outfits/hat/a283e901-d8da-4be1-91ae-2a3c94de48a2.jpg') }}" alt="egg1" style="width: 200px; height: auto; margin: 10px;"> -->

            </div>
        </div>
    <div class="footer">
        <div>Copyright © Yash Baviskar</div>
    </div>

    <script src="{{ url_for('static', filename='js/classify.js') }}"></script>
</body>
</html>
