<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/profile-ivn.css') }}">

  
</head>
<body>

  <section id="header">
    <a href="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo"></a>
    {% if firstname %}
    <li>Welcome, {{ firstname }}</li>
    {% else %}
    <button class="login-button">Login/Sign Up  L</button>
    {% endif %}


    <div>
      <ul id="navbar">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="{{ url_for('recommendation') }}">Recommendation</a></li>
          <li><a href="{{ url_for('classify') }}">Outfit Generator</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="#">About Us</a></li>
          {% if firstname %}
          <li>Welcome, {{ firstname }}</li>
          {% endif %}
      </ul>
  </div>
</section>

  <!-- Navigation Bar -->
  <!-- <nav class="navbar">
    <ul>
      <li><a href="#" onclick="loadContent('home')">Home</a></li>
      <li><a href="#" onclick="loadContent('about-us')">About Us</a></li>
      <li><a href="#" onclick="loadContent('recommendation')">Recommendation</a></li>
      <li><a href="#" onclick="loadContent('sign in')">Contact</a></li>
    </ul>
  </nav> -->

  <!-- Welcome Section -->
  <section class="welcome-section">
    <h1>Welcome to Your Fashion Profile!</h1>
    <p>Manage your outfits, images, and inventory with ease.</p>
  </section>

  <!-- Main Container -->
  <div class="container">
    <!-- Left Sidebar -->
    <div class="sidebar">
      <ul>
        <li><a href="{{ url_for('saved_images') }}" >Saved Images</a></li>
        <li><a href="{{ url_for('inventory') }}"">My Inventory</a></li>
        <!-- <li><a href="#" onclick="loadContent('saved-outfits')">Saved Outfits</a></li>
      
        <li><a href="#" onclick="loadContent('about-me')">About Me</a></li> -->
      </ul>
    </div>

    <div class="content" id="content-area">
      <h2>Welcome to Your Inventory</h2>
      <div class="my-inventory">
        <div class="my-inventory-1">
            <div class="my-inventory-text"> MY INVENTORY </div>
            <form id="inventory-upload" oninput="inventoryUploads()"> 
                <input class="inventory-upload-file" type="file" name="upload" id="upload" multiple accept=".jpeg,.jpg,.png">
                <button type="submit" id="smbt-button" style="display: none;">Submit</button>
            </form>
            
            <div>
            <button id="autoclassify-btn" style="display:none;" onclick="autoClassify()">Auto-classify</button>
            </div>
            <!-- Image preview container -->
            <div id="image-preview"></div>
        </div>



    </div>
    
    <div class="my-inventory-img">

        <div>
            <button id="submit-btn" style="display:none;" onclick="submitInventory()">Submit</button>
        </div>
    </div>
    
      </div>
    </div>
</body>
 <script src="{{ url_for('static', filename='js/inv.js') }}"></script>
</html>



