<!DOCTYPE html>

<html>
    <head>
        <title> Reccomandation Page </title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="hero">
            <div class="header">
                <div class="logo">Homepage</div>
                <ul>
                    <li><a href = "#">Register</a></li>
                    <li><a href = "#">Login</a></li>
                    <li><a href = "#">About us</a></li>
                </ul>
            </div>
            <div class="hero-content">
                <div class="hero-text-rec-page">
                <div class="heading-text-rec-page">Find similar clothes</div>
                <div class="subtext-rec-page">From our extensive fashion inventory with over 40000+ product, curate your taste by infoming us 
                </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="top-body">
            <div class="upload">
                <form action="/recommendation" method="post" enctype="multipart/form-data">
                <input type="file" id="image-upload" onchange="upload()" name="image" hidden/>
                <label for="image-upload" class="upload-label">Upload Image</label>
                <button type="submit">Show Reccomandation</button>
                </form>
            </div>
            <div class="image-preview"></div>

            </div>
            <div class="output-text">Reccomandation Images</div>
        <div class="output-images">

            {% if recommended_images %}
            <div class="rec-images" id="rec-image1">
                <img src="{{ recommended_images[0] }}" alt="Recommendation 1">
            </div>
            <div class="rec-images" id="rec-image2">
                <img src="{{ recommended_images[1] }}" alt="Recommendation 2">
            </div>
            <div class="rec-images" id="rec-image3">
                <img src="{{ recommended_images[2] }}" alt="Recommendation 3">
            </div>
            <div class="rec-images" id="rec-image4">
                <img src="{{ recommended_images[3]  }}" alt="Recommendation 4">
            </div>
        {% else %}
        <div class="rec-images" id="rec-image1">
        </div>
        <div class="rec-images" id="rec-image2">
        </div>
        <div class="rec-images" id="rec-image3">
        </div>
        <div class="rec-images" id="rec-image4">
        </div>
        {% endif %}
        </div>
        </div>

        <script src="{{ url_for('static', filename ='js/script.js') }}"></script>
    </body>
</html>