<!DOCTYPE html>

<html>
    <head>
        <title> Reccomandation Page </title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/rec.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    </head>
    <body>
    <div class="hero">
        <section id="header">
            <a href="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo"></a>
            <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> -->
            {% if firstname %}
                <span></span>
            {% else %}
                <button class="login-button">Login/Sign Up  L</button>
            {% endif %}
    
            <div>
                <ul id="navbar">
                    <li><a class="active" href="/frontpage">Home</a></li>
                    <li><a href="{{ url_for('recommendation') }}">Recommendation</a></li>
                    <li><a href="{{ url_for('classify') }}">Outfit Generator</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    {% if firstname %}
                    <li>Welcome, {{ firstname }}</li>
                    {% endif %}
                </ul>
            </div>
        </section>
    </div>
    <section id="HomeText">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="{{ url_for('static', filename='images/caro1.png') }}" alt="Option 1">

            </div>
        </div>
    </section>
    <section id ="banner1" class="padding">
    
        <div class="neon">
            <h3>Upload your Image to get reccomandations from our inbuilt inventory</h3>
            <div class="upload-2">
                
                <form  id="upload-form" enctype="multipart/form-data" onsubmit="handleFormSubmit(event)">
                <input type="file" id="image-upload" onchange="upload()" name="image" hidden/>

                <label for="image-upload" class="upload-label">Upload Image</label>
                
                <button type="submit" class="show">Show Reccomandation</button>
                </form>
            </div>
        </div>

    </section> 
    <div class="main-body">
        <div class="top-body">
        <div class="image-preview">
            <!-- #<button class="savebut">Save</button> -->
        </div>

        </div>
        <div class="output-text">Reccomandation Images</div>
    <div class="output-images">
    <div id="recommendation">

        <!-- 1st recommended image -->
        <div class="rec-container rec-images" id="rec-image1">
          <h2>1st</h2>
          
          
          <button  id="save-button1" class="savebut">Save</button>
        </div>
        
        <!-- 2nd recommended image -->
        <div class="rec-container rec-images" id="rec-image2">
          <h2>2nd</h2>
          
          
          <button id="save-button2" class="savebut">Save</button>
        </div>
        
        <!-- 3rd recommended image -->
        <div class="rec-container rec-images" id="rec-image3">
          <h2>3rd</h2>
          
          
          <button id="save-button3" class="savebut">Save</button>
          
        </div>
        
        <!-- 4th recommended image -->
        <div class="rec-container rec-images" id="rec-image4">
          <h2>4th</h2>
          
          
          <button id= "save-button4"  class="savebut">Save</button>
        </div>
      </div>
    </div>
    </div>

        <script src="{{ url_for('static', filename ='js/script.js') }}"></script>
    </body>
</html>