<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleb.css') }}">
</head>
<body>
    <header>
        <h1>Transaction Analysis</h1>
        <nav>
            <ul>
                <li><a href="indexb">Home</a></li>
                <li><a href="/transaction_analysis">Transaction Analysis</a></li>
                <li><a href="/inventory_analysis">Inventory Analysis</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h2>Total Transaction Price Over Time</h2>
            {{ total_price_graph|safe }}
        </div>
        <div>
            <h2>Total Items Bought Per Day</h2>
            {{ daily_items_graph|safe }}
        </div>
        <div>
            <h2>Distribution of Number of Items Sold in Each Transaction</h2>
            {{ items_sold_distribution_graph|safe }}
        </div>
        <div>
            <h2>Frequent Itemsets (Apriori)</h2>
            {{ apriori_graph|safe }}
        </div>
        <div>
            <h2>Frequent Itemsets (FP-Growth)</h2>
            {{ fp_growth_graph|safe }}
        </div>
    </main>
</body>
</html>
